/*To hold the styling*/
.app-sidebar {
    display: block;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100px; /* Width based on your original code */
    background-color: #2774AE; /* BruinLearn lighter blue */
    color: white;
    padding-top: 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1001; /* Above account panel */
}

.sidebar-nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 15px;
}

.sidebar-nav-item {
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px 10px;
    text-align: center;
    transition: background-color 0.2s;
    font-size: 0.85rem;
    font-family: 'Almarai', 'Arial', sans-serif;
    font-weight: 600;
    cursor: pointer;
}

.sidebar-nav-item:hover {
    background-color: #1E5A87;
}

/* This handles the "Active" state (Yellow bar) */
.sidebar-nav-item.active {
    background-color: #f5f5f5;
    color: #2774AE;
    font-weight: bold;
    border-left: 5px solid #FFCD00; /* UCLA Yellow */
}

.sidebar-icon {
    display: block;
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.ucla-logo {
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1000;
    font-style: italic;
    text-align: center;
    padding: 10px 0 20px 0;
    color: white;
    letter-spacing: 0.5px;
    text-shadow: 0 0 1px white;
}